<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>各位扣哥扣妹，今年打算给腾讯全体员工涨薪！</string>
		<key>avatar</key>
		<string>a1.jpg</string>
		<key>name</key>
		<string>马化腾</string>
		<key>time</key>
		<string>9分钟前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>创业要大成，一定要找到能让猪飞上天的台风口。勤奋、努力加坚持等等，这些只是成功的必要条件，最关键的是在对的时候做对的事情。</string>
		<key>avatar</key>
		<string>a2.jpg</string>
		<key>name</key>
		<string>雷军</string>
		<key>time</key>
		<string>1小时前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>告诉大家一个好消息，是的只有一个好消息。一个虽少，但分量足够。好了，绕了那么久，这个消息就是：今年打算给创新工场全体员工涨薪！</string>
		<key>avatar</key>
		<string>a3.jpg</string>
		<key>name</key>
		<string>李开复</string>
		<key>time</key>
		<string>2小时前</string>
		<key>picture</key>
		<string>p4.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Ladies and 乡亲们，今年打算给锤子科技🔨全体员工涨薪！哈哈哈哈哈哈哈哈哈哈</string>
		<key>avatar</key>
		<string>a4.jpg</string>
		<key>picture</key>
		<string>p5.jpg</string>
		<key>name</key>
		<string>罗永浩</string>
		<key>time</key>
		<string>3小时前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>今年360 不景气，但我还是骄傲地宣布：明年打算给小米全体员工涨薪！哈哈哈哈哈哈哈哈哈哈</string>
		<key>avatar</key>
		<string>a5.jpg</string>
		<key>picture</key>
		<string>p6.jpeg</string>
		<key>name</key>
		<string>周鸿祎</string>
		<key>time</key>
		<string>1天前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>过去一年我曾三次得到习近平主席的接见。习主席参加了去年12月的全球互联网大会，还在北京举办了互联网会议以及许多其他活动。那时我就注意到，习主席已经意识到了互联网对中国经济发展的作用。李克强总理也认识到了这一点。我有幸见过几次李克强总理，正是他提出了“大众创新、万众创业”的理念。</string>
		<key>avatar</key>
		<string>a6.jpg</string>
		<key>name</key>
		<string>李彦宏</string>
		<key>time</key>
		<string>3天前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>梦想是一定要有的，万一实现了呢?</string>
		<key>avatar</key>
		<string>a7.jpg</string>
		<key>picture</key>
		<string>p3.jpg</string>
		<key>name</key>
		<string>马云</string>
		<key>time</key>
		<string>一周前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>我们这代人真的有可能是永生的，所有的疾病将会被治愈，在未来的30年。</string>
		<key>avatar</key>
		<string>a8.jpg</string>
		<key>name</key>
		<string>张朝阳</string>
		<key>time</key>
		<string>一个月前</string>
	</dict>
	<dict>
		<key>text</key>
		<string>未来一切太美好了，所有产品都带电，我们大脑和每个物品都连接起来，甚至有一天互联网行业不存在了，没有移动互联网了。有一天我也坚信没有手机和电视机，所以你们5年之后，输和赢已经没有意义了。阿里巴巴和京东可能也都不存在了</string>
		<key>avatar</key>
		<string>a9.jpg</string>
		<key>name</key>
		<string>刘强东</string>
		<key>time</key>
		<string>一年前</string>
		<key>picture</key>
		<string>p2.jpg</string>
	</dict>
</array>
</plist>
